.about-company__wrapper {
  position: relative;
  background-color: $white-color;
  background-image: url("../img/2005@1x.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 11.51vw auto;
  max-width: 64vw;
  margin-top: 3.906vw;
  padding-left: 10.938vw;
  padding-right: 2.083vw;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/2005@2x.jpg");
  }
}

.about-company h2 {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 1.875vw;
  line-height: 2.604vw;
  font-weight: 400;
  padding-bottom: 24px;
}

.about-company__wrapper-text--hidden {
  display: none;
}

.about-company p {
  margin: 0;
  padding-bottom: 1.2vw;
}

.about-company__button {
  padding: 0.83vw 2.6vw;
  margin-top: 0.88vw;
}

@media (max-width: $tablet-width) {
  .about-company__wrapper {
    background-image: url("../img/2005_tablet@1x.jpg");
    background-size: 31.8vw auto;
    max-width: 100%;
    margin-top: 3.26vw;
    padding-left: 27.34vw;
    padding-right: 1.125vw;
    padding-bottom: 5.2vw;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/2005_tablet@2x.jpg");
    }
  }

  .about-company h2 {
    font-size: 4.17vw;
    line-height: 5.86vw;
    padding-bottom: 3.26vw;
  }

  .about-company__wrapper-text {
    &--all {
      display: none;
    }
    &--hidden {
      display: block;
    }
  }

  .about-company p {
    padding-left: 0.39vw;
    padding-bottom: 2.6vw;
  }

  .about-company__button {
    padding: 1.82vw 6.51vw;
    margin-top: 2.69vw;
    margin-left: 0.39vw;
  }
}
