.about-company__wrapper {
  position: relative;
  padding: 3.9vw 2.1vw 5.7vw 10.9vw;
  background-image: url("../img/2005@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0vw 4vw;
  background-size: 11.51vw auto;
  max-width: 64vw;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/2005@2x.jpg");
  }
}

.about-company h2 {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 1.875vw;
  line-height: 2.604vw;
  font-weight: 400;
  padding-bottom: 24px;
}

.about-company__wrapper-text--hidden {
  display: none;
}

.about-company p {
  margin: 0;
  padding-bottom: 1.2vw;
}

.about-company__button {
  padding: .76vw 2.6vw;
  margin-top: 0.9vw;
}

@media (max-width: $tablet-width) {
  .about-company__wrapper {
    padding: 3.26vw 3vw 10.8vw 27.34vw;
    background-image: url("../img/2005_tablet@1x.jpg");
    background-position: 0 3vw;;
    background-size: 31.8vw auto;
    max-width: 100%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/2005_tablet@2x.jpg");
    }
  }

  .about-company h2 {
    font-size: 4.17vw;
    line-height: 5.86vw;
    padding-bottom: 3.26vw;
  }

  .about-company__wrapper-text {
    &--all {
      display: none;
    }
    &--hidden {
      display: block;
    }
  }

  .about-company p {
    padding-left: 0.39vw;
    padding-bottom: 2.6vw;
  }

  .about-company__button {
    padding: 1.82vw 6.51vw;
    margin-top: 2.69vw;
    margin-left: 0.39vw;
  }
}

@media (max-width: $mobile-width) {
  .about-company__wrapper {
    padding: 12vw 4.5vw 20.2vw 4.4vw;
    background-image: none;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: none;
    }
  }

  .about-company h2 {
    font-size: 8.75vw;
    line-height: 12.3vw;
    padding-bottom: 7.25vw;
  }

  .about-company p {
    padding-left: 1vw;
  }

  .about-company p:not(:last-child) {
    padding-bottom: 14.5vw;
  }

  .about-company__button {
    padding: 4.2vw 15.4vw;
    margin-top: 7.69vw;
    margin-left: 1vw;
  }
}
