.about-company__wrapper {
  position: relative;
  background-color: $white-color;
  background-image: url("../img/2005@1x.jpg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 11.51vw auto;
  max-width: 64vw;
  margin-top: 3.906vw;
  padding-left: 10.938vw;
  padding-right: 2.083vw;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/2005@2x.jpg");
  }
}

.about-company h2 {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 1.875vw;
  line-height: 2.604vw;
  font-weight: 400;
  padding-bottom: 24px;
}

.about-company p {
  margin: 0;
  padding-bottom: 1.2vw;
}

.about-company__button {
  padding: 0.83vw 2.6vw;
  margin-top: 0.88vw;
}
