.banner {
  background-color: $dark-color;
  background-image: url("../img/back_dark@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100vw auto;
  margin-top: -6.1vw;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/back_dark@2x.jpg");
  }
}

.banner__wrapper {
  position: relative;
  padding-bottom: 14.31vw;
}

.banner__wrapper img {
  position: absolute;
  top: 14.8vw;
  right: 0.85vw;
  width: 36.72vw;
  height: 26.823vw;
}

.banner h1, .banner p {
  position: relative;
  margin: 0;
  color: $white-color;
}

.banner h1 {
  z-index: 2;
  font-family: "Roboto Condensed","Arial",sans-serif;
  font-size: 4.17vw;
  line-height: 4.17vw;
  font-weight: 700;
  letter-spacing: .29vw;
  text-transform: uppercase;
  padding-top: 18.13vw;
  padding-left: 4.62vw;
}

.banner p {
  font-size: 1.146vw;
  line-height: 1.85vw;
  text-align: start;
  max-width: 41.67vw;
  padding-top: 1.8vw;
  padding-left: 9.71vw;

  &::before {
    position: absolute;
    top: 2.65vw;
    left: 4.85vw;
    width: 3.4375vw;
    height: 0.1042vw;
    background-color: $white-color;
    content: "";
  }
}

.banner__button {
  width: 21.24vw;
  padding: 0.95vw;
  margin-top: 2.2vw;
  letter-spacing: 0.8px;
  margin-left: 9.7vw;

  &--mobile {
    display: none;
  }
}

.banner__link {
  position: absolute;
  bottom: 6.7vw;
  left: 2.85vw;
  display: inline-block;
  font-size: 0.73vw;
  line-height: 0.73vw;
  color: rgba($white-color, 0.5);
  transform: rotate(-90deg);
  transition-duration: 0.4s;
  transition-property: color;

  &:hover,
  &:focus {
    color: $white-color;
    outline: none;
  }
}

@media (max-width: $tablet-width) {
  .banner {
    background-image: url("../img/back_dark_tablet@1x.jpg");
    background-position: top center;
    margin-top: -9.6vw;
  
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/back_dark_tablet@2x.jpg");
    }
  }

  .banner__wrapper {
    padding-left: 3.125vw;
    padding-bottom: 21.22vw;
  }

  .banner__wrapper-title {
    margin-top: 24.48vw;;
    margin-left: 8.3vw;
  }

  .banner h1 {
    font-size: 7.8vw;
    line-height: 9.2vw;
    text-align: start;
    padding-left: 8.3vw;
    padding-top: 23.96vw;
    letter-spacing: 4.2px;
    max-width: 48.8vw;
  }

  .banner p {
    font-size: 2.34vw;
    line-height: 3.65vw;
    padding-top: 3.78vw;
    padding-left: 15vw;
    max-width: 61.2vw;
  
    &::before {
      top: 5.776vw;
      left: 8.6vw;
      width: 4.3vw;
      height: .26vw;
    }
  }

  .banner__button {
    width: 49.3vw;
    padding: 2.34vw;
    margin-top: 7.1vw;
    letter-spacing: 0.8px;
    margin-left: 15vw;
  }

  .banner__wrapper img {
    top: 14vw;
    right: 0;
    width: 33.85vw;
    height: 44.27vw;
    margin-right: 0;
  }

  .banner__link {
    display: none;
  }
}

@media (max-width: $mobile-width) {
  .banner {
    overflow: hidden;
    background-image: url("../img/back_dark_mobile@1x.jpg");
    background-position: top center;
    margin-top: -19vw;
  
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/back_dark_mobile@2x.jpg");
    }
  }

  .banner__wrapper {
    padding-left: 4.8vw;
    padding-right: 5.3vw;
    padding-bottom: 21.74vw;
  }

  .banner h1 {
    font-size: 12.5vw;
    line-height: 14.9vw;
    padding-left: 0;
    padding-top: 89.3vw;
    letter-spacing: 2.8px;
    max-width: 100%;
  }

  .banner p {
    font-size: 5vw;
    line-height: 7.84vw;
    padding-top: 8.4vw;
    padding-left: 16vw;
    max-width: 100%;
      
    &::before {
      top: 13.4vw;
      left: 0.8vw;
      width: 10.3vw;
      height: 0.6vw;
    }
  }

  .banner__button {
    width: 100%;
    font-size: 5vw;
    line-height: 6.72vw;
    margin-left: 0.9vw;
    margin-top: 12.5vw;
    padding-top: 5vw;
    padding-bottom: 5.47vw;

    &--hidden {
      display: none;
    }

    &--mobile {
      display: block;
    }
  }

  .banner__wrapper img {
    top: 28.4vw;
    left: 8.1vw;
    width: 92.1vw;
    height: 68.8vw;
  }
}
