.button {
  display: inline-block;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 0.73vw;
  line-height: 0.83vw;
  text-align: center;
  background-color: transparent;
  border: 1px solid $white-color;
  border-radius: 0.26vw;
  transition-duration: 0.4s;
  transition-property: background-color, color;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: 0.7px;

  &--header {
    &:hover,
    &:focus {
      color: $dark-color;
      background-color: $white-color;
      outline: none;
    }

    &:active {
      background-color: lighten($blue-color, 30%);
    }
  }

  &--blue {
    font-size: 0.83vw;
    line-height: 0.94vw;
    color: $white-color;
    background-color: $blue-color;
    border: none;
    letter-spacing: 0;
  }

  &--company {
    font-size: 0.73vw;
    line-height: 0.73vw;
    color: $blue-color;
    border: 1px solid $blue-color;
    
    &:hover,
    &:focus {
      color: $white-color;
      background-color: $blue-color;
    }

    &:active {
      background-color: darken($blue-color, 10%);
    }
  }

  &--form,
  &--popup {
    width: 14.06vw;
    padding: 0.78vw;
    max-width: 14.06vw;
  }

  &--form,
  &--blue,
  &--popup {
    &:hover,
    &:focus {
      color: $blue-color;
      background-color: $white-color;
      outline: none;
    }

    &:active {
      color: $white-color;
      background-color: lighten($blue-color, 30%);
    }
  }

  &--popup {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: $tablet-width) {
  .button {
    font-size: 1.82vw;
    line-height: 2.08vw;

    &--blue {
      font-size: 2.08vw;
      line-height: 2.34vw;
      letter-spacing: 0.8px;
    }
  }
}
