.main-header {
  background-color: $dark-color;
}

.main-header__wrapper {
  position: relative;
  z-index: 3;
  display: flex;
  width: 74vw;
  margin: 0 auto;
  max-width: 74.79vw;
  padding-top: 1.7vw;
  padding-left: 0.2vw;
  padding-right: 0.4vw;
  justify-content: space-between;
}

.main-header .main-header__logo img {
  width: 10.47vw;
  height: 2.71vw;
}

.main-header__communication-methods {
  display: flex;
  margin-bottom: 0.47vw;
}

.main-header__contacts {
  display: flex;
  margin-right: 1.5vw;
  padding-top: 0.2vw;
}

.main-header__element {
  align-self: center;
}

.main-header__element + .main-header__element {
  margin-left: 1.3vw;
}

.main-header__link {
  position: relative;
  display: flex;
  color: $white-color;
  padding-right: 1vw;
  padding-left: 1vw;
  margin-left: 1.3vw;

  &:hover,
  &:focus,
  &:hover svg path,
  &:focus svg path {
    color: $blue-color;
    transition-duration: 0.4s;
    transition-property: color, fill;
    fill: $white-color;
  }
}

.main-header .main-header__link svg {
  align-self: center;
}

.main-header .main-header__link--mail svg,
.main-header .main-header__link--phone svg {
  overflow: visible;
  width: 1vw;
  height: 1vw;
}

.main-header .main-header__link p {
  margin: 0;
}

.main-header .main-header__link--mail p {
  margin-left: 1.04vw;
}

.main-header .main-header__link--phone p {
  margin-left: 0.83vw;
}

.main-header__button {
  width: 9.38vw;
  color: $white-color;
  margin-top: 0.15vw;
  max-width: 9.375vw;
}

@media (max-width: $tablet-width) {
  .main-header__wrapper {
    width: 100%;
    max-width: 100vw;
    padding-top: 2.6vw;
    padding-left: 3.125vw;
    padding-right: 2.6vw;
  }

  .main-header .main-header__logo img {
    width: 26.3vw;
    height: 6.77vw;
  }

  .main-header__button {
    display: none;
  }

  .main-header__contacts {
    margin-right: 0;
  }

  .main-header__communication-methods {
    margin-bottom: 1vw;
  }

  .main-header__element + .main-header__element {
    margin-left: 1.65vw;
  }

  .main-header__link {
    padding-right: 0.52vw;
    padding-bottom: 0.52vw;
  }

  .main-header .main-header__link p {
    display: none;
  }

  .main-header .main-header__link--mail svg {
    width: 3.255vw;
    height: 2.34vw;
  }

  .main-header .main-header__link--phone svg {
    width: 3.125vw;
    height: 3.125vw;
  }

  @media (max-width: $mobile-width) {
    .main-header__wrapper {
      z-index: 4;
      padding-top: 5.2vw;
      padding-left: 5.2vw;
      padding-right: 4.3vw;
    }

    .main-header .main-header__logo img {
      width: 11.9vw;
      height: 11.9vw;
    }

    .main-header__communication-methods {
      margin-bottom: 2.3vw;
    }

    .main-header__element + .main-header__element {
      margin-left: 3.32vw;
    }

    .main-header__link {
      padding-left: 2.1vw;
    }

    .main-header .main-header__link--mail svg {
      width: 7.8vw;
      height: 5.9vw;
    }

    .main-header .main-header__link--phone svg {
      width: 7.5vw;
      height: 7.5vw;
    }
  }
}
