@keyframes increase {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.popup {
  position: fixed;
  top: 7.08vw;
  left: 50%;
  z-index: 4;
  display: none;
  width: 25.52vw;
  padding: 1.56vw 2.0vw 1.875vw;
  margin-left: -12.76vw;

  &--show {
    display: block;
    animation-name: increase;
    animation-duration: 0.4s;
  }

  &--error {
    animation-name: shake;
    animation-duration: 0.6s;
  }
}

.popup h2 {
  margin: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 1.46vw;
  line-height: 2.03vw;
  font-weight: 400;
}

.popup h2 + p {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 0.83vw;
  line-height: 1.1vw;
  padding-top: 0.73vw;
}

.popup form {
  padding-top: 0;
  padding-left: 0;
}

.popup__row {
  display: inline-block;
  flex-grow: 1;
  flex-wrap: wrap;
  margin-top: 1.68vw;
}

.popup__row,
.popup input,
.popup textarea {
  width: 100%;
}

.popup form input,
.popup form textarea {
  padding-left: 1.2vw;
}

.popup__close {
  position: absolute;
  top: 1.04vw;
  right: 1.04vw;
  width: 0.89vw;
  height: 0.89vw;
  font-size: 0;
  background-color: $blue-color;
  border: 0;
  cursor: pointer;
  outline: none;

  &::before,
  &::after {
    position: absolute;
    top: 0.42vw;
    right: -0.1vw;
    width: 1.15vw;
    height: 0.05vw;
    background-color: $white-color;
    content: "";
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after {
    height: 0.1vw;
  }

  &:active::before,
  &:active::after{
    height: 0.1vw;
    background-color: darken($blue-color, 20%);
  }
}

.popup__label {
  max-width: 95%;
  margin-left: 0;
  padding-left: 2.55vw;
  padding-top: 1.82vw;
}

.popup form .popup__label small {
  &::before {
    top: 1.875vw;
    left: 0;
  }
}

.popup form .popup__label input:checked + small::after {
  top: 2.14vw;
  left: 0.21vw; 
}

.popup__button {
  color: inherit;
  margin-top: 1.35vw;
}
