.social {
  display: flex;
  flex-wrap: wrap;
}

.social__link {
  padding: 1.25vw .4vw .26vw;
  outline: none;

  &:hover svg path,
  &:focus svg path{
    fill: $blue-color;
  }

  &:active svg path {
    fill: darken($blue-color, 10%);
  }
}

.social__link svg path {
  transition-duration: 0.4s;
  transition-property: fill;
}

.social .social__link svg {
  width: 1.41vw;
  height: 1.41vw;
}

@media (max-width: $tablet-width) {
  .social__link {
    padding-top: 3.1vw;
  }

  .social .social__link svg {
    width: 3.5vw;
    height: 3.5vw;
  }

  .social__item:not(:last-child) {
    margin-right: 1.3vw;
  }
}

@media (max-width: $mobile-width) {
  .social__link {
    padding-top: 7.5vw;
  }

  .social .social__link svg {
    width: 8.4vw;
    height: 8.4vw;
  }

  .social__item:not(:last-child) {
    margin-right: 4vw;
  }

  .social__item:last-child {
    margin-right: 5vw;
  }
}

