.social {
  display: flex;
  flex-wrap: wrap;
}

.social__item {
  margin-right: 0.31vw;
}

.social__link {
  padding: 0.26vw;
  outline: none;

  &:hover svg path,
  &:focus svg path{
    fill: $blue-color;
  }

  &:active svg path {
    fill: darken($blue-color, 10%);
  }
}

.social .social__link svg {
  width: 1.41vw;
  height: 1.41vw;
}

@media (max-width: $tablet-width) {
  .social .social__link svg {
    width: 3.5vw;
    height: 3.5vw;
  }

  .social__item:not(:last-child) {
    margin-right: 1.6vw;
  }
}

@media (max-width: $mobile-width) {
  .social .social__link svg {
    width: 8.4vw;
    height: 8.4vw;
  }

  .social__item:not(:last-child) {
    margin-right: 4vw;
  }

  .social__item:last-child {
    margin-right: 5vw;
  }
}

