$dark-color: #1b2931;

$white-color: #ffffff;

$blue-color: #00b2ff;

$gray-color: #666666;

$dark-gray: #1B2D37;

$light-gray: #ebebeb;

$input-error: #e52b50;

$border-footer: #dcdcdc;

$black-color: #000000;

$footer-plus: #c4c4c4;

$footer-background-color: #fafafa;
